body,
html {
    height: 100%
}

#home {
    display: table;
    height: 100%;
    width: 100%
}

body {
    font-family: DeliciousLight!important;
    font-size: 16px;
    color: #514742;
    font-weight: 300;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DeliciousLight!important;
    font-weight: 300;
    letter-spacing: .02em;
    margin: 0 0 20px;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.lead {
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: .02em;
    margin-top: 40px;
    margin-bottom: 40px;
}

a,
a:focus,
a:hover {
    outline: 0!important;
}

a {
    color: #976e4d;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #976e4d;
    text-decoration: underline;
}

.btn:focus,
a:focus {
    outline: 0;
}

.color-bg a {
    color: #fff;
    text-decoration: underline;
}

.color-bg a:focus,
.color-bg a:hover {
    color: #fff;
    text-decoration: none;
}

.primary {
    color: #EA8825;
}

.img-center {
    margin: 0 auto;
}

.padding-top-bottom {
    padding: 2px 0;
}

.padding-top {
    padding: 100px 0 0;
}

.margin-bottom {
    margin-bottom: 40px;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

.section-title {
    position: relative;
    margin-bottom: 40px;
    font-family: Raleway, sans-serif;
    font-size: 64px;
    line-height: 78px;
    font-weight: 100;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.section-title:after {
    display: block;
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -50px;
    background: #EA8825;
}

.section-description {
    text-align: center;
    font-size: 15.24px;
    margin-bottom: 60px;
}

.subsection-title {
    text-align: center;
    margin-top: 80px;
}

.subsection-description {
    text-align: center;
    margin-bottom: 60px;
}

.big-title {
    position: relative;
    margin-bottom: 40px;
    font-family: Raleway, sans-serif;
    font-size: 52px;
    line-height: 1.05em;
    font-weight: 100;
    letter-spacing: 0;
}

.big-title:after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: #EA8825;
}

.flexslider {
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.btn-quattro,
.btn-quattro:focus {
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 20px 20px;
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    font-weight: 400;
    outline: 0;
    position: relative;
    background: #EA8825;
    color: #fff5e9;
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.btn-quattro:active,
.btn-quattro:hover {
    color: #fff5e9;
    background: #D7473F;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.btn-quattro.transparent,
.btn-quattro.transparent:focus {
    background: 0 0;
    padding: 18px 38px;
    border: 2px solid #fff5e9;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.btn-quattro.transparent:active,
.btn-quattro.transparent:hover {
    background: #fff5e9;
    color: #EA8825;
    top: 0;
    box-shadow: 0 3px rgba(0, 0, 0, .1);
    text-decoration: none;
}

.btn-quattro.white,
.btn-quattro.white:focus {
    background: #fff5e9;
    color: #EA8825;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.btn-quattro.white:active,
.btn-quattro.white:hover {
    color: #fff5e9;
    background: #EA8825;
    top: 0;
    text-decoration: none;
}

.btn-quattro [class*=fa] {
    margin-right: 10px;
}

.btn+.btn {
    margin-left: 10px;
}

.white-bg {
    background: #fff5e9;
}

.gray-bg {
    background: #e5d9cb;
}

.color-bg {
    background: #62453f;
}

.dark-bg {
    background: #4E5961;
}

.light-typo {
    color: #ffe7ca;
}

.color-bg.light-typo .section-title:after {
    background: #fff5e9;
}

.gray-bg+.white-bg,
.white-bg+.gray-bg {
    border-top: 1px solid #e5e5e5;
}

.parallax-bg {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}

.touch .parallax-bg {
    background-attachment: scroll;
}

#page-loader {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

#page-loader .page-loader-gif {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 21px;
    line-height: 58px;
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    color: #aaa;
    color: rgba(0, 0, 0, 0);
}

.sticky-wrapper {
    background: #f0ede8;
}

#main-nav {
    position: static;
    top: -70px;
    background: #000;
    color: #4E5961;
    box-shadow: none;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: box-shadow .2s ease-out, top .3s ease-out .1s;
    transition: box-shadow .2s ease-out, top .3s ease-out .1s;
    z-index: 999999;
}

#main-nav.stuck {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#main-nav .navbar-toggle {
    border: 1px solid #4E5961;
    border-radius: 0;
    background: #600633;
}

#main-nav .navbar-toggle:hover {
    border: 1px solid #000;
    border-radius: 0;
    background: #600633;
    box-shadow: 0px 0px 4px 1px #000
}

#main-nav .icon-bar {
    background: #ffffff;
}

.navbar-brand,
.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:hover {
    position: relative;
    padding: 0 10px;
    margin: 3px 0;
    font-size: 28px;
    line-height: 54px;
    //height: 40px;
    font-weight: 600;
    color: #777;
    font-variant: small-caps;
    letter-spacing: .02em;
    -webkit-transition: font-size .2s ease-out;
    transition: font-size .2s ease-out;
    overflow: hidden;
}

.site-logo {
    //height: 40px;
    margin: 0;
    top: 0;
    vertical-align: top;
}

#main-nav .container {
    padding: 0 20px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
}

#main-nav .nav a {
    position: relative;
    z-index: 1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover {
    padding: 5px 10px;
    font-size: 17px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: .01em;
    text-transform: uppercase;
    background: 0 0;
    color: #ffffff;
    font-weight: 600;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

#main-nav .nav a:hover,
#main-nav.stuck .nav .active a {
    color: #ff007e;
}

#main-nav .nav a:before {
    display: none;
    position: absolute;
    top: -3px;
    left: 5%;
    content: "";
    width: 90%;
    height: 7px;
    background: #fc9c7b;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin-top: -2px;
}

#main-nav .nav .active a:before {
    opacity: 1;
}

#main-nav.stuck .nav .active a:before {
    display: block;
}

#main-nav li {
    background: 0 0;
    margin: 0 3px;
}

#main-nav .dropdown-menu a {
    font-size: 14px;
}

#home {
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}

#home .header-content {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#home .header-content.pattern-bg {
    background: url(../images/pattern-bg.png);
    background-color: rgba(0, 0, 0, .5);
}

.header-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 280px;
    margin-left: -140px;
}

.scroll-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -35px;
    color: #fff!important;
    padding: 20px;
    font-size: 48px;
    -webkit-animation: moving 2s ease-out infinite;
    animation: moving 2s ease-out infinite;
}

@-webkit-keyframes moving {
    0% {
        bottom: 30px;
    }
    30% {
        bottom: 10px;
    }
    60% {
        bottom: 30px;
    }
}

@keyframes moving {
    0% {
        bottom: 30px;
    }
    30% {
        bottom: 10px;
    }
    60% {
        bottom: 30px;
    }
}

#home h1 {
    margin: 0;
    font-size: 63px;
}

#home p {
    margin: 0;
}

#home .large-text {
    margin-bottom: 10px;
    font-size: 86px;
    line-height: 92px;
    font-weight: 900;
}

#home .bordered-text {
    display: inline-block;
    border: 5px solid #fff;
    margin: 0 50px;
    padding: 20px 30px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 58px;
    line-height: 72px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-slider li {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
}

.header-slider li.flex-active-slide {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .4s ease-out .1s;
    transition: transform .4s ease-out .1s;
}

#about {
    /*padding-bottom: 80px;*/
}

#about img {
    margin-bottom: 60px;
}

.cta {
    padding: 50px 0 30px;
}

.cta .cta-message p {
    padding: 15px 0 20px;
    font-size: 22px;
    line-height: 32px;
}

.cta .cta-message strong {
    font-size: 24px;
    letter-spacing: .02em;
}

.cta .cta-button {
    padding: 0;
}

.features .section-description {
    margin-bottom: 80px;
}

.features .icon {
    width: 80px;
    height: 80px;
    text-align: center;
    background: 0 0;
    color: #EA8825;
    font-size: 28px;
    line-height: 80px;
    border: 1px solid #EA8825;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.features .media:hover .icon {
    background: #EA8825;
    color: #fff;
}

.features .icon .icon-1 {
    width: 80px;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease-out .2s;
    transition: all .3s ease-out .2s;
}

.features .icon .icon-2 {
    width: 80px;
    position: relative;
    top: -80px;
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.features .media:hover .icon .icon-1 {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.features .media:hover .icon .icon-2 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease-out .2s;
    transition: all .3s ease-out .2s;
}

.features .media {
    margin-bottom: 40px;
}

.features .media-body p {
    font-size: 16px;
}

.features .media h4 {
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.features .media:hover h4 {
    color: #EA8825;
}

.services {
    margin-top: 80px;
    margin-bottom: 40px;
}

.services .icon {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 40px;
    text-align: center;
    line-height: 150px;
    font-size: 48px;
    color: #fff;
    background: #EA8825;
    border: 1px solid #EA8825;
    border-radius: 50%;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.services .item:hover .icon {
    color: #EA8825;
    background: #fff;
    border: 1px solid #ddd;
}

.services .item:hover [class*=fa] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.services h3 {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.services .item:hover h3 {
    color: #EA8825;
}

.services p {
    padding: 0 20px;
    font-size: 16px;
    line-height: 21px;
}

.counter {
    margin-top: 20px;
    font-size: 98px;
    line-height: 1.05em;
    font-weight: 100;
    color: #EA8825;
}

.counter+p {
    font-size: 18px;
    color: #aaa;
}

.team-member {
    margin-bottom: 30px;
    position: relative;
}

.member-thumb {
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: none;
    overflow: hidden;
}

.member-thumb img {
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.team-member:hover .member-thumb img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.member-details h4 {
    margin: 0;
    font-size: 18px;
}

.member-details .title {
    margin: 0 0 10px;
    font-size: 16px;
    color: #000000;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.member-details p {
    margin: 0;
    font-size: 14px;
}

.team-member .member-details {
    margin: 0;
    position: relative;
    padding: 30px 10px;
    height: 140px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-top: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.team-member:hover .member-details {
    background: #800a46;
    color: #fff;
}

.team-member:hover .member-details .title {
    color: #fff;
}

.team-member .member-socials {
    bottom: 20px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.team-member .member-socials li {
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.team-member:hover .member-socials li:nth-child(2) {
    transition-delay: .1s;
}

.team-member:hover .member-socials li:nth-child(3) {
    transition-delay: .2s;
}

.team-member:hover .member-socials li:nth-child(4) {
    transition-delay: .3s;
}

.team-member:hover .member-socials li:nth-child(5) {
    transition-delay: .4s;
}

.team-member:hover .member-socials li {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.team-member .member-socials li a {
    display: inline-block;
    padding: 0;
    min-width: 40px;
    height: 40px;
    font-size: 21px;
    line-height: 40px;
    color: #EA8825;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.team-member .member-socials li a:hover {
    background: #EA8825;
    color: #fff;
}

#portfolio {
    background: #fff;
    color: #313131;
}

#filter-works ul {
    list-style: none;
    padding: 0;
    margin: 60px 0 40px;
    text-align: center;
}

#filter-works ul li {
    position: relative;
    display: inline-block;
    padding: 5px;
    line-height: 24px;
    background: 0 0;
    margin: 0 0 10px;
}

#filter-works ul li a {
    display: block;
    font-size: 25px;
    line-height: 28px;
    height: 52px;
    text-transform: uppercase;
    padding: 10px 15px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#filter-works ul li a,
#filter-works ul li a:active,
#filter-works ul li a:hover {
    font-weight: 300;
    background: 0 0;
    color: #313131;
    text-decoration: none;
    border: 1px solid #976e4d;
    font-family: Roboto, Arial, sans-serif;
}

#filter-works ul li.active a,
#filter-works ul li:hover a {
    color: #fff;
    background: #976e4d;
    border: 1px solid #976e4d;
    font-family: Roboto, Arial, sans-serif;
}

.masonry-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#projects-container {
    margin: 0 auto;
    width: 100%;
    //visibility: hidden;
}

#projects-container .project-item {
    display: inline-block;
    position: relative;
    margin: 0 -2px -3px 0;
    width: 24.9%;
    min-width: 24.9%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
    overflow: hidden;
    z-index: 10;
    -webkit-backface-visibility: hidden;
}

#projects-container .project-itemvideo {
    display: inline-block;
    position: relative;
    margin: 0 -2px -3px 0;
    width: 24.9%;
    min-width: 24.9%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
    overflow: hidden;
    z-index: 10;
    -webkit-backface-visibility: hidden;
}

#projects-container .project-item.filtered {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 0;
    -webkit-backface-visibility: hidden;
}

#projects-container .project-itemvideo.filtered {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 0;
    -webkit-backface-visibility: hidden;
}

.project-item:hover {
    cursor: pointer;
}

.project-itemvideo:hover {
    cursor: pointer;
}

.project-item img {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    min-width: 99.7%;
    -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-out;
    transition: transform .3s linear, opacity .3s ease-out;
    -webkit-backface-visibility: hidden;
}

.project-itemvideo img {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    min-width: 99.7%;
    -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-out;
    transition: transform .3s linear, opacity .3s ease-out;
    -webkit-backface-visibility: hidden;
}

.project-item:hover img {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-transition: -webkit-transform 4s ease-in, opacity .3s ease-out;
    transition: transform 4s linear, opacity .3s ease-out;
}

.project-itemvideo:hover img {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-transition: -webkit-transform 4s ease-in, opacity .3s ease-out;
    transition: transform 4s linear, opacity .3s ease-out;
}

.project-item .hover-mask {
    position: absolute;
    padding: 0;
    color: #fff;
    background: #39231a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-family: Roboto, Arial, sans-serif;
}

.project-itemvideo .hover-mask {
    position: absolute;
    padding: 0;
    color: #fff;
    background: #39231a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-family: Roboto, Arial, sans-serif;
}

.project-item:hover .hover-mask {
    opacity: .95;
    filter: alpha(opacity=95);
}

.project-itemvideo:hover .hover-mask {
    opacity: .95;
    filter: alpha(opacity=95);
}

.project-item .hover-mask .project-title {
    position: relative;
    color: #fff;
    top: 50%;
    margin: -50px 0 0;
    padding: 10px;
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    font-family: Delicious!important;
}

.project-itemvideo .hover-mask .project-title {
    position: relative;
    color: #fff;
    top: 50%;
    margin: -50px 0 0;
    padding: 10px;
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    font-family: Delicious!important;
}

.project-item:hover .hover-mask .project-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.project-itemvideo:hover .hover-mask .project-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.project-item .hover-mask p {
    position: relative;
    color: #fff;
    top: 50%;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.project-itemvideo .hover-mask p {
    position: relative;
    color: #fff;
    top: 50%;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.project-item:hover .hover-mask p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all .3s ease-out .2s;
    transition: all .3s ease-out .2s;
}

.project-itemvideo:hover .hover-mask p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all .3s ease-out .2s;
    transition: all .3s ease-out .2s;
}

.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -ms-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top, -webkit-transform, opacity;
    -moz-transition-property: left, right, top, -moz-transform, opacity;
    -ms-transition-property: left, right, top, -ms-transform, opacity;
    -o-transition-property: left, right, top, -o-transform, opacity;
    transition-property: left, right, top, transform, opacity;
}

#project-preview {
    display: none;
    position: relative;
    max-width: 940px;
    margin: 80px auto 60px;
    font-weight: 400;
    opacity: 0;
    letter-spacing: .02em;
    overflow: visible!important;
}

.touch #project-preview {
    opacity: 1!important;
}

#project-title {
    margin: 60px 0 30px;
    font-family: Raleway;
    font-size: 48px;
    line-height: 1.05em;
    font-weight: 100;
    letter-spacing: .02em;
    word-spacing: .15em;
    text-align: center;
}

#project-preview p {
    margin-bottom: 20px;
}

.close-preview {
    position: absolute;
    padding: 5px;
    margin-left: -17px;
    left: 50%;
    top: -60px;
    font-size: 44px;
    line-height: 44px;
    font-weight: 300;
    color: #976e4d;
    cursor: pointer;
}

#project-slider {
    min-height: 450px;
}

#project-slider.flexslider {
    margin: 0 0 60px;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#project-slider .flex-direction-nav {}

#project-slider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    display: none;
    text-align: center;
}

#project-slider .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}

#project-slider .flex-control-paging li a {
    width: 36px;
    height: 12px;
    display: block;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

#project-slider .flex-control-paging li a:hover {
    background: #EA8825;
}

#project-slider .flex-control-paging li a.flex-active {
    background: #EA8825;
    cursor: default;
}

.pricing .item {
    position: relative;
    top: 20px;
    background: rgba(255, 255, 255, 1);
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #ddd;
    color: #777;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.pricing .item.featured {
    top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing .item.featured,
.pricing .item:hover {
    background: #EA8825;
    color: #fff;
}

.pricing .item h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.pricing .item.featured h2 {
    margin-bottom: 10px;
}

.pricing .item p {
    margin-bottom: 5px;
    font-weight: 400;
}

.pricing .item .icon {
    display: block;
    margin: 0 0 30px;
    background: url(../images/dark_mosaic.png);
    width: auto;
    height: 80px;
    font-size: 48px;
    line-height: 80px;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.pricing .item.featured .icon,
.pricing .item:hover .icon {
    color: #EA8825;
    background: #fff;
}

.pricing .item .btn-quattro {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    padding: 10px 20px;
}

.pricing .item.featured .btn-quattro,
.pricing .item:hover .btn-quattro {
    background: #fff;
    color: #EA8825;
}

.pricing .item .price {
    font-size: 48px;
    font-weight: 100;
    line-height: 48px;
    margin-bottom: 30px;
}

.pricing .item.featured .price {
    margin-bottom: 40px;
}

.clients .client {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
}

.client img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.client img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#testimonials .quote-icon {
    padding-top: 6px;
    text-align: center;
}

#testimonials .fa-quote-left {
    font-size: 48px;
    margin-bottom: 20px;
}

#testimonials a:active,
#testimonials a:focus,
#testimonials a:hover {
    text-decoration: none;
}

#testimonials .media-body {
    padding: 15px 0 0 30px;
}

#testimonials .testimonial {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    font-style: italic;
    word-spacing: 5px;
    margin-bottom: 20px;
}

#testimonials .tweet a:hover {
    text-decoration: underline;
}

#testimonials .client-img {
    width: auto;
    margin: 0 auto;
}

#testimonials .client {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

#testimonials .client span {
    font-style: italic;
}

#testimonials-slider {
    margin: 20px 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: 0 0;
}

#testimonials-slider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: center;
}

#testimonials-slider .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}

#testimonials-slider .flex-control-paging li a {
    width: 36px;
    height: 12px;
    display: block;
    background: rgba(255, 255, 255, .1);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

#testimonials-slider .flex-control-paging li a:hover {
    background: #EA8825;
}

#testimonials-slider .flex-control-paging li a.flex-active {
    background: #EA8825;
    cursor: default;
}

#testimonials-slider li {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#testimonials-slider li.flex-active-slide {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .3s ease-out .1s;
    transition: transform .3s ease-out .1s;
}

.contact-item h2 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.contact-item .icon {
    display: block;
    padding: 10px 0;
    font-size: 25px;
    color: #fc9c7b;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.contact-item .icon:hover {
    color: #fc9c7b;
    -webkit-transform: scale(1.2) translateY(-5px);
    transform: scale(1.2) translateY(-5px);
}

#contactform .form-group label {
    display: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
}

#contactform.no-placeholder .form-group label {
    display: block;
}

#contactform .controls {
    padding: 0;
    margin-bottom: 30px;
}

#contactform.no-placeholder .controls {
    margin-top: 0;
}

#career-form .form-control,
#contactform .form-control {
    display: inline;
    background: #00000080;
    border-radius: 0;
    border-color: #fff!important;
    color: #ffffff;
    outline: 0;
    height: 55px;
    font-weight: 300;
    opacity: .8;
    font-size: 17px
}

#contactform .form-group {
    position: relative;
}

#textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    vertical-align: top;
}

#contactform .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #ddd;
}

#contactform .error-message {
    padding: 5px 0;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #ff3345;
    z-index: 10;
}

#contact-form.no-placeholder .error-message {
    top: 0;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
}

.social-links li {
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.social-links li a {
    display: block;
    color: #fff5e9;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.social-links li:hover a {
    color: #a67c52;
}

.scrollimation.fade-in {
    opacity: 0;
    -webkit-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
}

.scrollimation.fade-in.in {
    opacity: 1;
}

.scrollimation.scale-in {
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.17, .89, .67, 1.57), opacity .6s ease-out;
    transition: transform .6s cubic-bezier(.17, .89, .67, 1.57), opacity .6s ease-out;
}

.scrollimation.scale-in.in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.scrollimation.fade-right {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-out;
    transition: transform .4s ease-out, opacity .4s ease-out;
}

.scrollimation.fade-right.in {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.scrollimation.fade-left {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-out;
    transition: transform .4s ease-out, opacity .4s ease-out;
}

.scrollimation.fade-left.in {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.scrollimation.fade-up {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-in;
    transition: transform .4s ease-out, opacity .4s ease-in-out;
}

.scrollimation.fade-up.in {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.scrollimation.d1 {
    transition-delay: .2s;
}

.scrollimation.d2 {
    transition-delay: .4s;
}

.scrollimation.d3 {
    transition-delay: .6s;
}

.scrollimation.d4 {
    transition-delay: .8s;
}

.touch .scrollimation.fade-in {
    opacity: 1;
}

.touch .scrollimation.scale-in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.touch .scrollimation.fade-left,
.touch .scrollimation.fade-right {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.touch .scrollimation.fade-up {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@media (max-width:991px) {
    #home .bordered-text {
        border: 4px solid #fff;
        padding: 15px 25px;
        font-size: 48px;
        line-height: 62px;
    }
    .cta-image {
        padding-bottom: 60px;
    }
    #projects-container .project-item {
        width: 49.98%
    }
    #projects-container .project-itemvideo {
        width: 49.98%
    }
    .team-member {
        margin-bottom: 60px;
    }
    .team-member .member-details,
    .team-member .member-thumb {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #project-slider {
        min-height: 0;
    }
}

@media (max-width:767px) {
    body,
    p {
        font-size: 16px;
        line-height: 21px;
    }
    .skills h2,
    h1 {
        font-size: 24px;
        line-height: 28px;
    }
    h2 {
        font-size: 21px;
        line-height: 24px;
    }
    .section-title {
        font-size: 32px;
        line-height: 36px;
    }
    .section-description {
        font-size: 16px;
    }
    .big-title {
        font-size: 32px;
    }
    .header-logo {
        width: 180px;
        top: 5%;
        margin-left: -90px;
    }
    .header-slider {
        margin-top: 40px;
    }
    #home .bordered-text {
        border: 3px solid #fff;
        margin: 0 20px;
        padding: 10px 20px;
        font-size: 32px;
        line-height: 44px;
    }
    .counter {
        font-size: 68px;
    }
    .cta .cta-message p,
    .cta .cta-message strong {
        font-size: 18px;
        line-height: 24px;
    }
    #main-nav .navbar-toggle {
        margin-top: 14px;
    }
    #main-nav .nav a {
        line-height: 42px!important;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
    }
    #main-nav .nav a:before {
        display: none!important;
    }
    #main-nav .nav a:hover,
    #main-nav.stuck .nav .active a {
        opacity: 1;
        color: #EA8825;
    }
    .cta .cta-message {
        text-align: center;
    }
    .services .item {
        margin-bottom: 60px;
    }
    #project-title {
        font-size: 32px;
    }
    .team-member {
        margin-bottom: 60px;
    }
    .team-member .member-details,
    .team-member .member-thumb {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #testimonials .pull-left {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    #testimonials .testimonial {
        font-size: 18px;
        line-height: 28px;
    }
    .project-item .project-thumb {
        max-width: 400px;
        margin: 0 auto;
    }
    .project-itemvideo .project-thumb {
        max-width: 400px;
        margin: 0 auto;
    }
    .pricing .item {
        top: 0;
        margin: 0 auto 40px;
        max-width: 400px;
    }
}

@media (max-width:479px) {
    #projects-container .project-item {
        width: 100%
    }
    #projects-container .project-itemvideo {
        width: 100%
    }
}

.navbar-brand {
    height: 64px;
}

.section-title span {
    font-size: 40px;
    border-bottom: 3px solid #333;
    vertical-align: super;
}

#about {
    /* background: url(../images/bg/aboutbg.jpg);*/
    background-size: cover;
}

@font-face {
    font-family: source_sans_prolight;
    src: url(../fonts/sourcesanspro-light.eot);
    src: url(../fonts/sourcesanspro-lightd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/sourcesanspro-light.woff2) format('woff2'), url(../fonts/sourcesanspro-light.woff) format('woff'), url(../fonts/sourcesanspro-light.ttf) format('truetype'), url(../fonts/sourcesanspro-light.svg#source_sans_prolight) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotolight;
    src: url(../fonts/roboto-light-webfont.eot);
    src: url(../fonts/roboto-light-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-light-webfont.woff2) format('woff2'), url(../fonts/roboto-light-webfont.woff) format('woff'), url(../fonts/roboto-light-webfont.ttf) format('truetype'), url(../fonts/roboto-light-webfont.svg#robotolight) format('svg');
    font-weight: 400;
    font-style: normal;
}

.mb0 {
    margin-bottom: 0!important;
}

.mt100 {
    margin-top: 200px!important;
}

.true_title {
    margin: 0;
    padding: 30px;
    color: #fff;
}

.bg1 {
    background: #e5d9cb;
}

.bg2 {
    background: #976e4d;
}

.p70 {
    padding: 70px 0;
}

.bg3 {
    background: url(../images/bg/yourstory.jpg);
    background-size: cover;
}

.bg4 {
    background: url(../images/bg/careerbg.jpg);
    background-size: cover;
}

#contactform ::-webkit-input-placeholder {
    color: #fff;
}

#contactform :-moz-placeholder {
    color: #fff;
}

#contactform ::-moz-placeholder {
    color: #fff;
}

#contactform :-ms-input-placeholder {
    color: #fff;
}

.text-orange {
    color: #fc9c7b;
}

.bord-right {
    border-right: 1px solid #ffe7ca;
}

.t_india {
    color: #ffe7ca;
}

.h200 {
    height: 200px;
}

.btn_orange {
    background: #fc9c7b;
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
}

#career-form .form-control {
    opacity: .8;
    border: 1px solid #ffe7ca;
}

#career-form ::-webkit-input-placeholder {
    color: #ffe7ca;
}

#career-form :-moz-placeholder {
    color: #ffe7ca;
}

#career-form ::-moz-placeholder {
    color: #ffe7ca;
}

#career-form :-ms-input-placeholder {
    color: #ffe7ca;
}

.carousel-control {
    top: 34%;
    width: 1%;
    font-size: 60px;
}

.carousel-control.left,
.carousel-control.right {
    background: 0 0;
}

.pb0 {
    padding-bottom: 0;
}

.well {
    background: 0 0;
    border: none;
}

.member-details {
    background: #fff;
    padding: 10px;
}

.overflow {
    overflow-y: scroll;
}

.setitle {
    text-transform: uppercase;
    color: #000;
    text-align: left;
}

#accordion .panel-body p {
    color: #faeedc;
}

#main-footer {
    background: #493430;
    margin: 0;
    padding: 10px;
    color: #fff5e9!important;
}

.yourint {
    width: 100%;
    height: 120px;
    text-align: center;
    color: #ffe7ca;
    background: #6c4c3d;
}

.yourint:hover {
    background: #ee6c5a!important;
}

.yourint h5 {
    font-size: 12px;
}

.yactive {
    background: #ee6c5a!important;
}

#password::-webkit-input-placeholder {
    color: #976e4d;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px transparent;
}

::-webkit-scrollbar-thumb {
    background: #800a46;
    -webkit-box-shadow: inset 0 0 4px transparent;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #f59380;
}

#style-switcher {
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: -222px;
    width: 222px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

#toggle-switcher {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -60px;
    top: -30px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-right: none;
}

.active,
.carousel,
.carousel-inner,
.item {
    height: 100%
}